body .modal {
	position:fixed;
	border-radius: 4px;
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #ccc;
	background:#fff;
	overflow:auto;
	outline:none;
	padding:20px;
    display: block;
    text-align: center;
    opacity: 0.99;
}